/* CSS files add styling rules to your content */

html {
  font-size: 16px;
}

body {
  
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  padding:0;
  margin: 0 auto;
  
}

.sr-only {
  position: absolute;
  left: -99999px;
  width: 1px;
  height: 1px;
  clip: rect(0 1px 1px 0);
  clip-path: inset(50%);
  overflow: hidden;
}

.search__input {
  
  padding: 10px;
  
}

.main__list {
  
  margin: auto 1em;
  padding:0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.main__list-item {
  
  flex: 1 1 auto;
/*   padding: 10px; */
  
}

.main__list-item img,p {
  
  text-align: center;
  width: 500px;
  height: auto;
  
}

