/* CSS files add styling rules to your content */

html {
  font-size: 16px;
}

body {
  
  background: #ffffff;
  font-family: "Roboto", sans-serif;
  padding:0;
  margin: 0 auto;
  box-sizing: border-box;
  
}

.sr-only {
  position: absolute;
  left: -99999px;
  width: 1px;
  height: 1px;
  clip: rect(0 1px 1px 0);
  clip-path: inset(50%);
  overflow: hidden;
}

.header {
  
  display:block;
  position:fixed;
  top:0;
  z-index: 100;
  
  background-color:white; 
  width:100%;
  
}

.header__input {
  
  padding: 1em;
  width: 100%;  
  border: none;

}

.header__searchbox,.header__home-btn,.header__photo-count {
  
  margin: 1em;
  
}


.header__photo-count-text,.header__btn{
  
  padding: 15px;
  margin:0;
  
}

.header__searchbox {

  flex: 4 1 auto;
  
}

.header__photo-count {
  
  flex: 1 1 auto;
  text-align: right;
  
  
}

.header__btn{
  
  flex: 1 1 auto;
  font-size: 16px;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  
}

.header__inner {
  
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.header__inner-container {
  
  position: relative;
  
}

.main__inner-container {
  
  position: relative;
  
}

.main {
  
  margin:100px 0;
  background-color:white;
  
}

.main__list {
  
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  
}

.main__list-item {
  
/*   flex: 1 1 auto; */
  padding: 0.25em;
  width:16%;
  
/*   border: solid; */
/*   position: absolute;  */
  
}

.main__list-item > figure{
  
  
  color: white;
  text-decoration: none;
  text-align: center;
/*   width: 100%; */
  
  max-width:60em;
  max-height:45em;
  
  margin: 0 auto;

  background-color: #222;
  
  
}


.main__list-item > figure > img {
  
  width:100%;
  min-height:11.25em;
  
  max-width:60em;
  max-height:45em;
  object-fit: cover;
  
}

.footer__credit, .footer__link{
  
  color: white;
  padding:10px;
  
}

.footer__link a {
  
  color: white;
  text-decoration: none;
  
}

.footer__inner {
  
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  
}

.footer__inner-container {
  
  position: relative;
  
}

.footer {
 
  display:block;
  position:fixed;
  z-index:-1;
  bottom:0;
  
  background-color:#222; 
  width:100%;
  
}

