/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.sr-only {
  position: absolute;
  left: -99999px;
  width: 1px;
  height: 1px;
  clip: rect(0 1px 1px 0);
  clip-path: inset(50%);
  overflow: hidden;
}
